{
  "printWidth": 100,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "endOfLine": "auto"
}
